body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.avatar {
    width: 150px;
    border-radius: 10px;
}



.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    text-align: center;
    background: #702632;
    color: #fffffa;
    border-radius: 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: myAnimation;
    animation-duration: 4s;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes myAnimation {
  from {background-color: red;}
  to {background-color: yellow;}
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

